<head>
    <meta charset="utf-8">

    <style>
    #balls {
      position:absolute;
      top: 0px;
      left:0px;
    }





    </style>
</head>

<body lang="en-US" link="#0000ff" dir="LTR">


<script src="webgazer.js"></script>
<canvas width="11px" height="781px" id="renderCanvas" style="display:none;"></canvas>
<script>
window.onload = function() {
    webgazer.setRegression('ridge')
        .setTracker('clmtrackr')
        .setGazeListener(function(data, clock) {
            // console.log(data); /* data is an object containing an x and y key which are the x and y prediction coordinates (no bounds limiting) */
            // console.log(clock); /* elapsed time in milliseconds since webgazer.begin() was called */
        })
        .begin()
        .showPredictionPoints(true); /* shows a square every 100 milliseconds where current prediction is */

    var width = 320;
    var height = 240;
    var topDist = '0px';
    var leftDist = '0px';
    var method = webgazer.getRegression();
    var face = webgazer.getTracker();

    var setup = function() {
        var video = document.getElementById('webgazerVideoFeed');
        video.style.display = 'block';
        video.style.position = 'absolute';
        video.style.top = topDist;
        video.style.left = leftDist;
        video.width = width;
        video.height = height;
        video.style.margin = '0px';

        webgazer.params.imgWidth = width;
        webgazer.params.imgHeight = height;

        var overlay = document.createElement('canvas');
        overlay.id = 'overlay';
        overlay.style.position = 'absolute';
        overlay.width = width;
        overlay.height = height;
        overlay.style.top = topDist;
        overlay.style.left = leftDist;
        overlay.style.margin = '0px';

        document.body.appendChild(overlay);

        var cl = webgazer.getTracker().clm;

        function drawLoop() {
            requestAnimFrame(drawLoop);
            overlay.getContext('2d').clearRect(0,0,width,height);
            if (cl.getCurrentPosition()) {
                cl.draw(overlay);
            }
        }
        drawLoop();
    };

    function checkIfReady() {
        if (webgazer.isReady()) {
            setup();
        } else {
            setTimeout(checkIfReady, 100);
        }
    }
    setTimeout(checkIfReady,100);
};


window.onbeforeunload = function() {
    //webgazer.end(); //Uncomment if you want to save the data even if you reload the page.
    window.localStorage.clear(); //Comment out if you want to save data across different sessions
}




</script>

<div id="info">
    <h1 style="color:#C0C0C0" align="right">
        Clicks and Cursor Movements Train Model<br>
        <script>
            var regtype = webgazer.getRegression();
            document.write('Method: '.concat(regtype[0].name.concat(' regression')));
        </script>
        <br>
        <script>
            var tracker = webgazer.getTracker();
            document.write('Face Tracker: '.concat(tracker.name));
        </script>
    </h1>
</div>

</body>