<!DOCTYPE html>
<html>
    <head>
        <title>Whack A Worm</title>

        <style>*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}</style>

        <script type="text/javascript" src="../static/easel.js"></script>
        <script type="text/javascript" src="../static/Tween.js"></script>
        <!--<script type="text/javascript" src="{{url_for('static', filename='vole.js')}}"></script>-->
        <script type="text/javascript" src="../static/vole.js"></script>

    </head>
    <body onload="Main();">
        <canvas id="WhackaVole" width="480" height="320"></canvas>
    </body>
</html>